<form action="#/edit/:{{itemId}}" method="POST">
    <input type="hidden" name = "name" value="{{name}}"/>
    <input type="hidden" name = "category" value="{{category}}"/>
    <input type="hidden" name = "likes" value="{{likes}}"/>
    <input type="hidden" name = "imageURL" value="{{imageURL}}"/>
    <textarea type="text" name="description">{{description}}</textarea>
    <button type="submit" class="button"> Save</button>
</form>